In [1]:
from pandas import read_excel
df = read_excel('.data/dpe03existant.xlsx')

In [2]:
df.head()

,numero_dpe,date_derniere_modification_dpe,date_visite_diagnostiqueur,date_etablissement_dpe,date_reception_dpe,date_fin_validite_dpe,numero_dpe_remplace,numero_dpe_immeuble_associe,id_rnb,provenance_id_rnb,...,description_generateur_froid,surface_climatisee,conso_refroidissement_annuel,categorie_enr,systeme_production_electricite_origine_renouvelable,presence_production_pv,surface_totale_capteurs_pv,nombre_module,production_electricite_pv_kwhep_par_an,electricite_pv_autoconsommee
0,2275E0252200Y,2024-06-25,2022-02-02,2022-02-07,2022-02-08,2032-02-06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,réseau de chaleur ou de froid vertueux,NaN,NaN,NaN,NaN,0.0,NaN
1,2254E0866216D,2025-01-20,2022-04-24,2022-04-24,2022-04-25,2032-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2275E1242094U,2024-06-25,2022-06-06,2022-06-06,2022-06-07,2032-06-05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,2244E1489464V,2024-02-06,2022-06-28,2022-06-29,2022-06-30,2032-06-28,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,2293E0210795D,2024-06-25,2022-01-31,2022-02-01,2022-02-02,2032-01-31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [3]:
df[df['identifiant_ban'].isna()]

,numero_dpe,date_derniere_modification_dpe,date_visite_diagnostiqueur,date_etablissement_dpe,date_reception_dpe,date_fin_validite_dpe,numero_dpe_remplace,numero_dpe_immeuble_associe,id_rnb,provenance_id_rnb,...,description_generateur_froid,surface_climatisee,conso_refroidissement_annuel,categorie_enr,systeme_production_electricite_origine_renouvelable,presence_production_pv,surface_totale_capteurs_pv,nombre_module,production_electricite_pv_kwhep_par_an,electricite_pv_autoconsommee
48,2250E0835707O,2024-02-06,2022-02-07,2022-04-20,2022-04-21,2032-04-19,2250E0831527U,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100,2234E0079128T,2024-02-06,2022-01-11,2022-01-13,2022-01-14,2032-01-12,NaN,NaN,NaN,NaN,...,Refroidissement - Electrique - Pompe à chaleur...,50.0,117.4,pompe à chaleur,NaN,NaN,NaN,NaN,0.0,NaN
138,2222E0342286T,2024-02-06,2022-02-20,2022-02-20,2022-02-21,2032-02-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
521,2250E0835551O,2024-02-06,2022-02-07,2022-04-20,2022-04-21,2032-04-19,2250E0831190V,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
528,2251E1370189P,2024-02-06,2022-05-08,2022-06-19,2022-06-20,2032-06-18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,réseau de chaleur ou de froid vertueux,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2235E0739383F,2024-02-06,2022-04-06,2022-04-07,2022-04-08,2032-04-06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
9629,2291E1004249N,2024-02-06,2022-04-07,2022-05-08,2022-05-10,2032-05-07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,réseau de chaleur ou de froid vertueux,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN
9667,2214E0895638F,2024-02-06,2022-04-26,2022-04-26,2022-04-27,2032-04-25,2214E0871852J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
9736,2212E1053007U,2024-02-06,2022-02-25,2022-05-13,2022-05-14,2032-05-12,2212E0880902J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
9945,2274E0919686L,2024-02-06,2022-03-07,2022-04-28,2022-04-29,2032-04-27,2274E0890826L,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [4]:
a = df[0:100]

In [5]:
import requests

def verify_with_ban(identifiant, address):
    url = f"https://api-adresse.data.gouv.fr/search/?q={address}"
    response = requests.get(url).json()
    if response['features']:
        ban_id = response['features'][0]['properties']['id']
        return identifiant == ban_id
    return False

In [7]:
a['verified'] = a.apply(lambda row: verify_with_ban(row['identifiant_ban'], row['adresse_ban']), axis=1)

/var/folders/kt/6408rcfs0s799svmhtqblzyh0000gn/T/ipykernel_42626/152776276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['verified'] = a.apply(lambda row: verify_with_ban(row['identifiant_ban'], row['adresse_ban']), axis=1)

In [8]:
a[a['verified']==False][['adresse_ban','identifiant_ban']]

                                          adresse_ban     identifiant_ban
15            Lotissement Bellevue 50420 Tessy-Bocage          14513_X001
17           16 Rue du 19 Mars 1962 65410 Sarrancolin    65408_0105_00016
21      3 Impasse de la Maisonnette 14740 Thue et Mue  14098_oljmpz_00003
26   31 Rue Victor Hugo 10120 Saint-André-les-Vergers    10333_0570_00031
32   22 Chemin du vieux mûrier 74560 Monnetier-Mornex    74185_0075_00022
44  18 Domaine de Bacchus 33750 Saint-Quentin-de-B...  33466_ich4fa_00018
48                                                NaN                 NaN
58          23 Boulevard Pierre le Moine 35000 Rennes  35238_wyluh7_00023
65            Avenue Jean Moulin 62140 Huby-Saint-Leu          62461_0020
75                     Quartier Riou 13360 Roquevaire        13086_g9lddr
79                 2b Avenue Rémy Sans 31300 Toulouse  31555_8136_00002_b
80                 Rue du Molinel (Lomme) 59000 Lille          59355_1438
86  7 Rue Maurice Ravel 10120 Saint-André-les-Vergers    10333_0320_00007
89                       Route de la Foux 04260 Allos        04006_hxw8iu
96                   Lieu Dit Montperroux 61500 Essay        61156_43lg2n

In [9]:
import requests

def verify_with_ban(address):
    url = f"https://api-adresse.data.gouv.fr/search/?q={address}&limit=1"
    response = requests.get(url).json()
    # return response
    if response['features']:
        ban_id, ban_add = response['features'][0]['properties']['id'],response['features'][0]['properties']['label']
        return ban_id, ban_add
    return None, None

In [10]:
print(verify_with_ban(a['adresse_ban'].values[89]))
print(a[['identifiant_ban','adresse_ban']].values[89])

('04006_0071', 'Route de la Foux 04260 Allos')
['04006_hxw8iu' 'Route de la Foux 04260 Allos']

In [11]:
from pandas import read_csv

In [12]:
df2 = read_csv('.data/conso.csv', sep=';')

/var/folders/kt/6408rcfs0s799svmhtqblzyh0000gn/T/ipykernel_42626/3227468098.py:1: DtypeWarning: Columns (1,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = read_csv('.data/conso.csv', sep=';')

In [13]:
# df_test = df2[0:100]
df_test = df2[df2['Code Département']==75.0][0:100]

In [14]:
df_test.head()

,Année,Code IRIS,Nom IRIS,Numéro de voie,Indice de répétition,Type de voie,Libellé de voie,Code Commune,Nom Commune,Segment de client,Nombre de logements,Consommation annuelle totale de l'adresse (MWh),Consommation annuelle moyenne par logement de l'adresse (MWh),Consommation annuelle moyenne de la commune (MWh),Adresse,Code EPCI,Code Département,Code Région,Tri des adresses
25545,2019,751187206,Chapelle 6,2.0,NaN,PLACE,PIERRE MAC ORLAN,75056,Paris,RESIDENTIEL,41,261.867,6.387,2.941,2 PLACE PIERRE MAC ORLAN,200054781.0,75.0,11.0,280004
25546,2019,751207802,Saint-Fargeau 2,2.0,NaN,RUE,PIERRE MOUILLARD,75056,Paris,RESIDENTIEL,13,38.163,2.936,2.941,2 RUE PIERRE MOUILLARD,200054781.0,75.0,11.0,280011
25547,2019,751051903,Val de Grace 3,44.0,NaN,RUE,PIERRE NICOLE,75056,Paris,RESIDENTIEL,10,24.105,2.410,2.941,44 RUE PIERRE NICOLE,200054781.0,75.0,11.0,280012
25548,2019,751051903,Val de Grace 3,42.0,NaN,RUE,PIERRE NICOLE,75056,Paris,RESIDENTIEL,17,47.702,2.806,2.941,42 RUE PIERRE NICOLE,200054781.0,75.0,11.0,280013
25549,2019,751051903,Val de Grace 3,41.0,NaN,RUE,PIERRE NICOLE,75056,Paris,RESIDENTIEL,16,53.429,3.339,2.941,41 RUE PIERRE NICOLE,200054781.0,75.0,11.0,280014

In [15]:
df_test['add full'] = df_test['Adresse'] + ' ' + df_test['Code Commune'].astype(str) + ' ' + df_test['Nom Commune']

In [16]:
df_test.iloc[0]

Année                                                                                            2019
Code IRIS                                                                                   751187206
Nom IRIS                                                                                   Chapelle 6
Numéro de voie                                                                                    2.0
Indice de répétition                                                                              NaN
Type de voie                                                                                    PLACE
Libellé de voie                                                                      PIERRE MAC ORLAN
Code Commune                                                                                    75056
Nom Commune                                                                                     Paris
Segment de client                                                                         RESIDENTIEL
Nombre de logements                                                                                41
Consommation annuelle totale de l'adresse (MWh)                                               261.867
Consommation annuelle moyenne par logement de l'adresse (MWh)                                   6.387
Consommation annuelle moyenne de la commune (MWh)                                               2.941
Adresse                                                                      2 PLACE PIERRE MAC ORLAN
Code EPCI                                                                                 200054781.0
Code Département                                                                                 75.0
Code Région                                                                                      11.0
Tri des adresses                                                                               280004
add full                                                         2 PLACE PIERRE MAC ORLAN 75056 Paris
Name: 25545, dtype: object

In [17]:
def verify_with_ban(address, code_commune):
    url = f"https://api-adresse.data.gouv.fr/search/?q={address}&limit=1"
    response = requests.get(url).json()
    # return response
    if response['features']:
        ban_id, ban_add = response['features'][0]['properties']['id'],response['features'][0]['properties']['name']
        return ban_id, ban_add
    return None, None

In [18]:
from pandas import Series
df_test[['id_ban','add_ban']] = df_test.apply(
    lambda row: Series(verify_with_ban(row['add full'], str(row['Code Commune']))),
    axis=1
)

In [19]:
df_test[['id_ban', 'add_ban', 'Adresse', 'add full']]

,id_ban,add_ban,Adresse,add full
25545,75118_7464_00002,2 Place Pierre Mac Orlan,2 PLACE PIERRE MAC ORLAN,2 PLACE PIERRE MAC ORLAN 75056 Paris
25546,75120_7465_00002,2 Rue Pierre Mouillard,2 RUE PIERRE MOUILLARD,2 RUE PIERRE MOUILLARD 75056 Paris
25547,75105_7467_00044,44 Rue Pierre Nicole,44 RUE PIERRE NICOLE,44 RUE PIERRE NICOLE 75056 Paris
25548,75105_7467_00042,42 Rue Pierre Nicole,42 RUE PIERRE NICOLE,42 RUE PIERRE NICOLE 75056 Paris
25549,75105_7467_00041,41 Rue Pierre Nicole,41 RUE PIERRE NICOLE,41 RUE PIERRE NICOLE 75056 Paris
...,...,...,...,...
25640,75118_8014_00018,18 Rue Ramey,18 RUE RAMEY,18 RUE RAMEY 75056 Paris
25641,75118_8014_00003,3 Rue Ramey,3 RUE RAMEY,3 RUE RAMEY 75056 Paris
25642,75118_8014_00001,1 Rue Ramey,1 RUE RAMEY,1 RUE RAMEY 75056 Paris
25643,75119_8016_00019,19 Rue Rampal,19 RUE RAMPAL,19 RUE RAMPAL 75056 Paris
25644,75119_8016_00008,8 Rue Rampal,8 RUE RAMPAL,8 RUE RAMPAL 75056 Paris

In [20]:
import requests

def verify_with_ban(address):
    url = f"https://api-adresse.data.gouv.fr/search/?q={address}&limit=5"
    response = requests.get(url).json()
    # return response
    if response['features']:
        ban_id, ban_add = response['features'][0]['properties']['id'],response['features'][0]['properties']['label']
        # return ban_id, ban_add
        return response['features'][0]['properties']
    return None

In [21]:
test = verify_with_ban(df_test['add full'].values[0])

In [22]:
for k, v in test.items():
    print(f"{k}: {v}")

label: 2 Place Pierre Mac Orlan 75018 Paris
score: 0.7479943062200957
housenumber: 2
id: 75118_7464_00002
name: 2 Place Pierre Mac Orlan
postcode: 75018
citycode: 75118
x: 653248.88
y: 6866325.82
city: Paris
district: Paris 18e Arrondissement
context: 75, Paris, Île-de-France
type: housenumber
importance: 0.64899
street: Place Pierre Mac Orlan
_type: address

In [23]:
import unicodedata
import re

def normaliser_adresse(adresse):
    if not adresse:
        return ""

    adresse = adresse.upper()
    adresse = unicodedata.normalize('NFKD', adresse)
    adresse = adresse.encode('ASCII', 'ignore').decode('utf-8')

    adresse = adresse.replace("'", " ")
    adresse = re.sub(r'[^A-Z0-9 -]', '', adresse)

    adresse = " ".join(adresse.split())

    return adresse

In [24]:
df_test['adresse_normalisee'] = df_test['add_ban'].apply(normaliser_adresse)

In [27]:
df_test[['id_ban', 'add_ban', 'adresse_normalisee', 'add full']]

,id_ban,add_ban,adresse_normalisee,add full
25545,75118_7464_00002,2 Place Pierre Mac Orlan,2 PLACE PIERRE MAC ORLAN,2 PLACE PIERRE MAC ORLAN 75056 Paris
25546,75120_7465_00002,2 Rue Pierre Mouillard,2 RUE PIERRE MOUILLARD,2 RUE PIERRE MOUILLARD 75056 Paris
25547,75105_7467_00044,44 Rue Pierre Nicole,44 RUE PIERRE NICOLE,44 RUE PIERRE NICOLE 75056 Paris
25548,75105_7467_00042,42 Rue Pierre Nicole,42 RUE PIERRE NICOLE,42 RUE PIERRE NICOLE 75056 Paris
25549,75105_7467_00041,41 Rue Pierre Nicole,41 RUE PIERRE NICOLE,41 RUE PIERRE NICOLE 75056 Paris
...,...,...,...,...
25640,75118_8014_00018,18 Rue Ramey,18 RUE RAMEY,18 RUE RAMEY 75056 Paris
25641,75118_8014_00003,3 Rue Ramey,3 RUE RAMEY,3 RUE RAMEY 75056 Paris
25642,75118_8014_00001,1 Rue Ramey,1 RUE RAMEY,1 RUE RAMEY 75056 Paris
25643,75119_8016_00019,19 Rue Rampal,19 RUE RAMPAL,19 RUE RAMPAL 75056 Paris
25644,75119_8016_00008,8 Rue Rampal,8 RUE RAMPAL,8 RUE RAMPAL 75056 Paris

In [28]:
df_test['add_true'] = df_test['adresse_normalisee'] == df_test['Adresse']

In [30]:
df_test[['id_ban', 'Adresse', 'adresse_normalisee', 'add full', 'add_true']]

,id_ban,Adresse,adresse_normalisee,add full,add_true
25545,75118_7464_00002,2 PLACE PIERRE MAC ORLAN,2 PLACE PIERRE MAC ORLAN,2 PLACE PIERRE MAC ORLAN 75056 Paris,True
25546,75120_7465_00002,2 RUE PIERRE MOUILLARD,2 RUE PIERRE MOUILLARD,2 RUE PIERRE MOUILLARD 75056 Paris,True
25547,75105_7467_00044,44 RUE PIERRE NICOLE,44 RUE PIERRE NICOLE,44 RUE PIERRE NICOLE 75056 Paris,True
25548,75105_7467_00042,42 RUE PIERRE NICOLE,42 RUE PIERRE NICOLE,42 RUE PIERRE NICOLE 75056 Paris,True
25549,75105_7467_00041,41 RUE PIERRE NICOLE,41 RUE PIERRE NICOLE,41 RUE PIERRE NICOLE 75056 Paris,True
...,...,...,...,...,...
25640,75118_8014_00018,18 RUE RAMEY,18 RUE RAMEY,18 RUE RAMEY 75056 Paris,True
25641,75118_8014_00003,3 RUE RAMEY,3 RUE RAMEY,3 RUE RAMEY 75056 Paris,True
25642,75118_8014_00001,1 RUE RAMEY,1 RUE RAMEY,1 RUE RAMEY 75056 Paris,True
25643,75119_8016_00019,19 RUE RAMPAL,19 RUE RAMPAL,19 RUE RAMPAL 75056 Paris,True
25644,75119_8016_00008,8 RUE RAMPAL,8 RUE RAMPAL,8 RUE RAMPAL 75056 Paris,True